 .u-section-1 {
  background-image: url("images/cf.jpg");
  background-position: 50% 50%;
  min-height: 669px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 0 2px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 667px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  margin: 70px 2px 0 20px;
  font-size:23px;
  text-align:left;
}

.u-section-1 .u-image-1 {
  min-height: 667px;
  background-image: url("images/178734a16447d8dce58469710e78fbf82945ad6533d712d1a3be0815ed3839b7677af229cbc78c88fa2ba5cb885edf26027046d61542f5203e94c6_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 30px 40px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 435px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 550px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 550px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 306px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    min-height: 421px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 542px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-image-1 {
    min-height: 557px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 336px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 351px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 482px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 52px 0 48px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 260px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-2 .u-line-1 {
  width: 25px;
  transform-origin: left center 0;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 18px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  background-image: none;
  min-height: 260px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-2 .u-line-2 {
  width: 25px;
  transform-origin: left center 0;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 18px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
  min-height: 260px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-2 .u-line-3 {
  width: 25px;
  transform-origin: left center;
  height: 4px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 18px 0 0;
}

.u-section-2 .u-layout-cell-4 {
  background-image: none;
  min-height: 260px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-2 .u-line-4 {
  width: 25px;
  transform-origin: left center 0;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  margin: 18px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 54px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 214px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 214px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 214px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 214px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 40px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 140px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 811px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 88px 0 52px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 671px;
}

.u-section-3 .u-image-1 {
  width: 516px;
  min-height: 342px;
  background-image: url("images/cc0cbee6-5c91-9a56-37d1-8b6f5cc1ca10.png");
  background-position: 50% 50%;
  margin: 329px 0 0 auto;
}

.u-section-3 .u-container-layout-2 {
  margin-bottom: 0;
}

.u-section-3 .u-image-2 {
  width: 628px;
  height: 606px;
  object-position: 46.8% 100%;
  background-position: 46.8% 100%;
  margin: -661px auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 671px;
}

.u-section-3 .u-container-layout-3 {
  padding: 60px 0 60px 40px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  margin: 185px 0 0;
}

.u-section-3 .u-text-2 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 553px;
  }

  .u-section-3 .u-image-1 {
    width: 404px;
    min-height: 319px;
  }

  .u-section-3 .u-image-2 {
    width: 514px;
    height: 544px;
    margin-top: -648px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 553px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 424px;
  }

  .u-section-3 .u-image-1 {
    width: 315px;
    min-height: 347px;
    margin-top: 176px;
  }

  .u-section-3 .u-image-2 {
    width: 388px;
    height: 417px;
    margin-top: -523px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 530px;
  }

  .u-section-3 .u-image-1 {
    width: 404px;
  }

  .u-section-3 .u-image-2 {
    width: 487px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 334px;
  }

  .u-section-3 .u-image-1 {
    width: 239px;
    min-height: 240px;
    margin-top: 159px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-3 .u-image-2 {
    width: 308px;
    height: 328px;
    margin-top: -399px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-4 {
  min-height: 697px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 350px;
  background-image: url("images/dreamy-pretty-woman-with-tea-tablet-loggia_1262-4987.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  min-height: 350px;
  background-image: url("images/front-view-woman-having-video-call_23-2148521607.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  min-height: 350px;
  background-image: url("images/family-home_23-2148166817.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  min-height: 350px;
  background-image: url("images/fg.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-5 {
  min-height: 350px;
  background-image: url("images/home-lifestyle-woman-looking-through-window_23-2148541308.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-image-6 {
  min-height: 350px;
  background-image: url("images/elder-woman-looking-through-window_23-2148201275.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 350px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 288px;
  }

  .u-section-4 .u-image-2 {
    min-height: 288px;
  }

  .u-section-4 .u-image-3 {
    min-height: 288px;
  }

  .u-section-4 .u-image-4 {
    min-height: 288px;
  }

  .u-section-4 .u-image-5 {
    min-height: 288px;
  }

  .u-section-4 .u-image-6 {
    min-height: 288px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 262px;
  }

  .u-section-4 .u-image-1 {
    min-height: 221px;
  }

  .u-section-4 .u-image-2 {
    min-height: 221px;
  }

  .u-section-4 .u-image-3 {
    min-height: 221px;
  }

  .u-section-4 .u-image-4 {
    min-height: 221px;
  }

  .u-section-4 .u-image-5 {
    min-height: 221px;
  }

  .u-section-4 .u-image-6 {
    min-height: 221px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1286px;
  }

  .u-section-4 .u-image-1 {
    min-height: 497px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 497px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 497px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    min-height: 497px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-5 {
    min-height: 497px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-6 {
    min-height: 497px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 798px;
  }

  .u-section-4 .u-image-1 {
    min-height: 313px;
  }

  .u-section-4 .u-image-2 {
    min-height: 313px;
  }

  .u-section-4 .u-image-3 {
    min-height: 313px;
  }

  .u-section-4 .u-image-4 {
    min-height: 313px;
  }

  .u-section-4 .u-image-5 {
    min-height: 313px;
  }

  .u-section-4 .u-image-6 {
    min-height: 313px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('images/photo-1618939291225-8d558ea4369f.jpeg');
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 800px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 100px 294px 0;
}

.u-section-5 .u-text-2 {
  width: 760px;
  margin: 30px auto 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 154px auto 60px -13px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 244px;
  grid-auto-columns: 100%;
  grid-gap: 31px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 59px;
  width: 59px;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 20px auto 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-5 .u-text-3 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 225px;
    margin-right: 225px;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 402px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    margin-left: 169px;
    margin-right: 169px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15.5px));
    grid-auto-columns: calc(50% - 15.5px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 106px;
    margin-right: 106px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url('images/34381899_v904-nunny-008-e.jpg');
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 683px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 0 0 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 546px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-6 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-text-3 {
  margin: 20px 368px 0 0;
}

.u-section-6 .u-text-4 {
  margin: 20px 457px 0 0;
}

.u-section-6 .u-text-5 {
  margin: 21px 360px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 539px;
  background-image: none;
  --radius: 50px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-6 {
  margin: 0 275px 0 0;
}

.u-section-6 .u-form-1 {
  height: 315px;
  width: 510px;
  margin: 29px 0 0;
}

.u-section-6 .u-form-group-1 {
  margin-left: 0;
}

.u-section-6 .u-form-group-2 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 468px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 450px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 268px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 357px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 260px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 444px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 221px;
  }

  .u-section-6 .u-form-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 124px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 158px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 247px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 150px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 162px;
  }

  .u-section-6 .u-form-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 468px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 285px;
  }

  .u-section-6 .u-form-1 {
    height: 355px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-3 {
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 47px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 190px;
  }
}
 .h2{
  font-style:oblique;
 }